{% extends "base.html" %}

{% block header %}
<h1>Dodaj nową osobę</h1>
{% endblock %}


{% block content %}
<form action="", method="POST">
   {% csrf_token %}
   <label> Imię:
       <input type="text"
              name="name">
   </label><br>
    <label> Nazwisko:
       <input type="text"
              name="last_name">
   </label><br>
   <label> Opis:
       <input type="text"
              name="description">
   </label><br>
   <label>
       <input type="submit" value="Dodaj">
   </label>
</form>
{% endblock %}
